body {
    background-image: url('imagenes/imagenFondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    
    filter: brightness(1.5); 
}

/*Botones reglas-jugar*/

#botones-regla-jugar {
    display: flex;
    flex-direction: column;/*alinea verticalmente los divs hijos*/
    justify-content: center; /*Alinea los divs hijos verticalmente en el centro del contenedor padre*/
    align-items: center; /*Idem anterior horizontalmente*/
    width: 33vw;
    margin: 0 auto;/*Ojo!! el auto se aplica vs el contenedor padre (body en este caso), toma distancias
    automaticas, es decir, equidistante, vs los limites del contenedor padre)*/
    height: 50vh;
    /*background-color: blue;*/
    gap: 50px;/*distancia entre contenedores divs hijos. Ojo! en JS debe ser flex y no block*/

}

   #botones-regla-jugar > div {/*el > solo aplica a los elementos hijos directos */
    display: flex;
    justify-content: center;
    width: 100%; /* Asegura que el contenedor hijo ocupe el ancho completo del contenedor padre */
    height: 100%;
    /*background-color: #00ff2a;*/
    border: 1px solid red;
    box-sizing: border-box;
}

    #botones-regla-jugar button {
   
    font-family: sans-serif; 
    width: 100%;
    height: 100%;
    font-size: 3em; /*Tamaño relativo a la caja contenedora*/
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición en el color de fondo y el texto */
    background-color: rgba(179, 107, 0, 0.85); /* Color de fondo */
    color: white; /* Color del texto */}

   


    #botones-regla-jugar button:hover {
        background-color:rgb(78, 47, 1,0.85)
        }


/* Reglas de juego. Formateo de lo que se ve al clickear boton "REGLAS"*/

    #contenedor-reglas {
    
            display: flex;
            flex-direction: column;
            background-color: rgba(19, 18, 17, 0.85);
            /* Color de contraste para el contenedor */

            justify-content: center;
            padding: 10px;
            margin: 10px auto;
            border-radius: 8px;
            box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.3);
            max-width: 40vw;
            /* Ancho máximo del contenedor ajustado */
            height: auto;
            
            box-sizing: border-box;
    
    
        }
    
    #reglas-juego {
        background-color: rgba(179, 107, 0, 0.7);
        padding: 10px;
        margin: 10px auto;
        border-radius: 8px;
    }

    #volver {

        display: flex;
        justify-content: center;
        width: 100%%;
       
    }


    #volver button{
        font-family: sans-serif; 
       
        font-size: 1em; /*Tamaño relativo a la caja contenedora*/
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        transition: background-color 0.3s, color 0.3s; /* Efecto de transición en el color de fondo y el texto */
        background-color: rgba(179, 107, 0, 0.85); /* Color de fondo */
        color: white; /* Color del texto */
       
    
    
    }
    
       
    
    
    #volver button:hover {
            background-color:rgb(78, 47, 1,0.85)
            }
    
                                
   
    



h1{

    font-size: 1.5rem; 
    text-align: center;
    color: #0f0101;
    padding: 10px; 
    margin: 0;
}

h2{

    font-size: 1.5rem; 
    text-align: center;
    color: #0f0101;
    padding: 10px; 
    margin: 0;
}



.contenedor-h1{

    background-color: rgba(85, 87, 79, 0.85); /* Color de contraste para el contenedor */
    padding: 10px; 
    margin: 10px auto; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    max-width: 30%; /* Ancho máximo del contenedor ajustado */
    height: auto; 
    text-align: center; 
    box-sizing: border-box; 

}

.contenedor-h1 > div {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 5vh; 
    
    padding: 0 20px; 
}











#seleccionar-personaje {
    background-color: rgba(85, 87, 79, 0.85); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
}

#seleccionar-personaje h2 {
    font-size: 1.8rem; 
    color: #333; 
    margin-bottom: 15px; 
}

.personajes {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin: 0 auto; 
}

.personajes label {
    display: flex; 
    align-items: center; 
    font-size: 1rem; 
}

.personajes input[type="radio"] {
    margin-right: 10px; 
}

#boton-personaje {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 1rem; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#boton-personaje:hover {
    background-color: #0056b3;
}










#seleccionar-ataque {
    background-color: rgba(85, 87, 79, 0.85);
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 50%; 
    margin: 20px auto; 
    text-align: center; 
}

#seleccionar-ataque h2 {
    font-size: 1.8rem; 
    color: #333; 
    margin-bottom: 15px; 
}

#seleccionar-ataque p {
    font-size: 1rem; 
    color: #333; 
    margin: 10px 0; 
}

#seleccionar-ataque button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 1rem; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#seleccionar-ataque button:hover {
    background-color: #0056b3; 
}


#imagenes, 
#reiniciar {
    background-color: rgba(85, 87, 79, 0.85); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%; 
    margin: 20px auto; 
    text-align: left; 
}

#imagenes h2, 
#reiniciar h2 {
    font-size: 1.8rem; 
    color: #333; 
    margin-bottom: 15px; 
}

#imagenes p, 
#reiniciar p {
    font-size: 1rem; 
    color: #333; 
    margin: 10px 0; 
}

#imagenes button, 
#reiniciar button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 1rem; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#imagenes button:hover, 
#reiniciar button:hover {
    background-color: #0056b3; 
}

p{

    font-size: 1.5rem; 
    text-align: center;
    color: #0f0101;
    padding: 10px; 
    margin: 0;

}




/* Vamos a settear los valores de seleccion del personaje*/

.contenedor-padre-seleccion{

display: flex;
justify-content: center;
width: 100%;
max-width: 100%;

}

.contenedor-seleccion{

    display: flex;
    width: 70%;
    align-items: stretch;/*ajusta el elemento al ancho del espacio definido*/
    justify-content: space-between;/*separa los elementos equitativamente*/
    gap: 15px;
    background-color: gray;
    box-sizing: border-box;
    margin: 2px;
    flex-wrap: wrap;
}

.contenedor-seleccion figure{


position: relative;/*referencia al contenedor hijo para que se posicione dentro de el*/
    flex: 1;
    margin: 0;
    box-sizing: border-box;
    
    
    
}

.contenedor-seleccion img{

    position: absolute;/*establece una posicion absoluta dentro del contenedor mas cercano*/
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;/*Con esto defino la relacion de la imagen en funcion de su ancho (cuadrado)*/
    height: auto;
    object-fit: cover;
}

.contenedor-seleccion figcaption{

    position:relative;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100%;
}

