body {
    background-image: url('imagenes/imagenFondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    filter: brightness(1.5); 
}

/*Fuente titulo*/
/*Titulo del juego a corregir*/
h1{

    font-family: "Honk";
    font-size: 3rem; 
    text-align: center;
    color: #0f0101;
    padding: 10px; 
    margin: 0;
}



.contenedor-h1{

    
    padding: 10px; 
    margin: 10px auto; 
    border-radius: 8px;  
    max-width: 40%; /* Ancho máximo del contenedor ajustado */
    height: auto; 
    text-align: center; 
    box-sizing: border-box; 

}

.contenedor-h1 > div {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 5vh;  
    padding: 0 20px; 
}





/*Botones reglas-jugar*/

#botones-regla-jugar {
    display: flex;
    flex-direction: column;/*alinea verticalmente los divs hijos*/
    justify-content: center; /*Alinea los divs hijos verticalmente en el centro del contenedor padre*/
    align-items: center; /*Idem anterior horizontalmente*/
    width: 33vw;
    margin: 0 auto;/*Ojo!! el auto se aplica vs el contenedor padre (body en este caso), toma distancias
    automaticas, es decir, equidistante, vs los limites del contenedor padre)*/
    height: 33vh;
    /*background-color: blue;*/
    gap: 50px;/*distancia entre contenedores divs hijos. Ojo! en JS debe ser flex y no block*/

}

   #botones-regla-jugar > div {/*el > solo aplica a los elementos hijos directos */
    display: flex;
    justify-content: center;
    width: 100%; /* Asegura que el contenedor hijo ocupe el ancho completo del contenedor padre */
    height: 100%;
    /*background-color: #00ff2a;*/
    box-sizing: border-box;
}

    #botones-regla-jugar button {
   
    font-family: Matemasie;
    width: 100%;
    height: 100%;
    font-size: 3em; /*Tamaño relativo a la caja contenedora*/
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición en el color de fondo y el texto */
    background-color: rgba(179, 107, 0, 0.85); /* Color de fondo */
    color: rgb(0, 0, 0); /* Color del texto */}

   


    #botones-regla-jugar button:hover {
        background-color:rgb(78, 47, 1,0.85)
        }


/* Reglas de juego. Formateo de lo que se ve al clickear boton "REGLAS"*/

    #contenedor-reglas {
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            margin: 10px auto;
            border-radius: 8px;
            box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.3);
            max-width: 55vw;
            /* Ancho máximo del contenedor ajustado */
            height: auto;
            
            box-sizing: border-box;
    
    
        }
    
    #reglas-juego {
        background-color: rgba(179, 107, 0, 0.9);
        padding: 10px;
        margin: 10px auto;
        border-radius: 8px;
    }

    #reglas-juego h2{

        font-family: Matemasie;
        font-size: 2rem; 
        text-align: center;
        color: #0f0101;
        padding: 10px; 
        margin: 0;
    }

    #reglas-juego p,li{

        font-family: Matemasie;
        font-size: 1.5rem; 
        text-align: center;
        color: #0f0101;
        padding: 10px; 
        margin: 0;
    }


    #volver {

        display: flex;
        justify-content: center;
        width: 100%;
       
    }


    #volver button{
        
        font-family:  Matemasie; 
        font-size: 1.5em; /*Tamaño relativo a la caja contenedora*/
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        transition: background-color 0.3s, color 0.3s; /* Efecto de transición en el color de fondo y el texto */
        background-color: rgba(179, 107, 0, 0.85); /* Color de fondo */
        color: rgb(0, 0, 0); /* Color del texto */
       
    
    
    }
    
       
    
    
    #volver button:hover {
            background-color:rgb(78, 47, 1,0.85)
            }
    
                                
   
/*Formateo parte de Elegir jugador*/

#elige-personaje{

    display: flex;
    flex-direction: column;
    
    width: 80vw;
    margin: 0 auto; /*sin margen arriba y abajo, pero centrado en el eje x*/

}


#seleccionar-personaje h2{

    
    font-family: Matemasie;  
    font-size: 2em;
    background-color: rgba(179, 107, 0, 0.8);
    margin: 0 auto;
    width: 50%;
    align-items: center;
    
    }



/* Vamos a settear los valores de seleccion del personaje*/


    
    .contenedor-seleccion{
    
        display: flex;
        width: 70%;
        align-items: stretch;/*ajusta el elemento al ancho del espacio definido*/
        justify-content: space-between;/*separa los elementos equitativamente*/
        gap: 15px;
        box-sizing: border-box;
        padding: 15px;
        flex-wrap: wrap;/*alinea en varias lineas el flex cuando no da el ancho de pantalla*/
        margin: 0 auto;
    }
    
    .contenedor-seleccion figure{
    
    
        position: relative;/*referencia al contenedor hijo para que se posicione dentro de el*/
        flex: 1;
        margin: 0;
        box-sizing: border-box;
        
        
        
    }
    
    .contenedor-seleccion img{
    
        position: absolute;/*establece una posicion absoluta dentro del contenedor mas cercano*/
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 1/1;/*Con esto defino la relacion de la imagen en funcion de su ancho (cuadrado)*/
        height: auto;
        object-fit: cover;
        border-radius: 10%;
        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .contenedor-seleccion img:hover{

        transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra para destacar */

    }
    
    .contenedor-seleccion figcaption{
    
        font-family: Matemasie;
        position:relative;
        padding: 10px;
        text-align: center;
        background-color:  rgba(179, 107, 0, 0.9);
        margin-top: 100%;
    }



/*Parte del ataque*/






#seleccionar-ataque {
    display: flex;
    background-color: rgba(85, 87, 79, 0.85);
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    margin: 20px auto; 
    text-align: center; 
    gap: 5vh;
}

#tu-vs-enemigo{

background-color: blueviolet;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
flex: 4;
gap: 4vh;

}

#tu-vs-enemigo figure {

    flex:1 1 30%;
    
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;


}


#tu-vs-enemigo img {

    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;


}


#tu-vs-enemigo figcaption{

    font-family: sans-serif; 
    font-size: 1.5em;
    background-color: rgba(179, 107, 0, 0.8);
    margin: 0 auto;
    width: 50%;
    align-items: center;
   



}

.vidas-restantes{

    font-family: sans-serif; 
    font-size: 1.5em;
    background-color: rgba(179, 107, 0, 0.8);
    margin: 0 auto;
    align-items: center;



}


/*---------------- Parte dedicada al tipo de ataque ---------------------------------*/

#tipo-ataque-padre {
    display: flex;
    flex-direction: column; /* Si quieres que los botones estén en columna */
    background-color: rgba(85, 87, 79, 0.85);
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    flex: 6; /* Ocupa el 60% del contenedor padre */
}

#tipo-ataque {

display: flex;
flex-wrap: wrap;
box-sizing: border-box;
padding: 2vh;
gap: 2vh;

}

#tipo-ataque figure{

    flex:0 1 20%;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: auto;
    
    


}

#tipo-ataque img{

    width: 100%;
    aspect-ratio: 1.1/1;
    object-fit: fill;
    border-radius: 10%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

#tipo-ataque img:hover{

    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Añade una sombra para destacar */

}

#tipo-ataque figcaption{

    text-align: center;
    margin-top: 2vh;

}





h2{
    font-family: Matemasie;
    font-size: 1.5rem; 
    text-align: center;
    color: #0f0101;
    padding: 10px; 
    margin: 0;
}





